**Data source** 
https://ourworldindata.org/renewable-energy
**raw data source**
https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy.html

## 1. Import Python libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
#import calmap
#from pandas_profiling import ProfileReport

In [9]:
df=pd.read_csv('owid-energy-data.csv')
print(df.shape)
list(df.columns)

(17432, 122)

['iso_code',
 'country',
 'year',
 'coal_prod_change_pct',
 'coal_prod_change_twh',
 'gas_prod_change_pct',
 'gas_prod_change_twh',
 'oil_prod_change_pct',
 'oil_prod_change_twh',
 'energy_cons_change_pct',
 'energy_cons_change_twh',
 'biofuel_share_elec',
 'biofuel_elec_per_capita',
 'biofuel_cons_change_pct',
 'biofuel_share_energy',
 'biofuel_cons_change_twh',
 'biofuel_consumption',
 'biofuel_cons_per_capita',
 'carbon_intensity_elec',
 'coal_share_elec',
 'coal_cons_change_pct',
 'coal_share_energy',
 'coal_cons_change_twh',
 'coal_consumption',
 'coal_elec_per_capita',
 'coal_cons_per_capita',
 'coal_production',
 'coal_prod_per_capita',
 'electricity_generation',
 'biofuel_electricity',
 'coal_electricity',
 'fossil_electricity',
 'gas_electricity',
 'hydro_electricity',
 'nuclear_electricity',
 'oil_electricity',
 'other_renewable_electricity',
 'other_renewable_exc_biofuel_electricity',
 'renewables_electricity',
 'solar_electricity',
 'wind_electricity',
 'energy_per_gdp',
 'energy_per_capita',
 'fossil_cons_change_pct',
 'fossil_share_energy',
 'fossil_cons_change_twh',
 'fossil_fuel_consumption',
 'fossil_energy_per_capita',
 'fossil_cons_per_capita',
 'fossil_share_elec',
 'gas_share_elec',
 'gas_cons_change_pct',
 'gas_share_energy',
 'gas_cons_change_twh',
 'gas_consumption',
 'gas_elec_per_capita',
 'gas_energy_per_capita',
 'gas_production',
 'gas_prod_per_capita',
 'hydro_share_elec',
 'hydro_cons_change_pct',
 'hydro_share_energy',
 'hydro_cons_change_twh',
 'hydro_consumption',
 'hydro_elec_per_capita',
 'hydro_energy_per_capita',
 'low_carbon_share_elec',
 'low_carbon_electricity',
 'low_carbon_elec_per_capita',
 'low_carbon_cons_change_pct',
 'low_carbon_share_energy',
 'low_carbon_cons_change_twh',
 'low_carbon_consumption',
 'low_carbon_energy_per_capita',
 'nuclear_share_elec',
 'nuclear_cons_change_pct',
 'nuclear_share_energy',
 'nuclear_cons_change_twh',
 'nuclear_consumption',
 'nuclear_elec_per_capita',
 'nuclear_energy_per_capita',
 'oil_share_elec',
 'oil_cons_change_pct',
 'oil_share_energy',
 'oil_cons_change_twh',
 'oil_consumption',
 'oil_elec_per_capita',
 'oil_energy_per_capita',
 'oil_production',
 'oil_prod_per_capita',
 'other_renewables_elec_per_capita',
 'other_renewables_share_elec',
 'other_renewables_cons_change_pct',
 'other_renewables_share_energy',
 'other_renewables_cons_change_twh',
 'other_renewable_consumption',
 'other_renewables_energy_per_capita',
 'per_capita_electricity',
 'population',
 'primary_energy_consumption',
 'renewables_elec_per_capita',
 'renewables_share_elec',
 'renewables_cons_change_pct',
 'renewables_share_energy',
 'renewables_cons_change_twh',
 'renewables_consumption',
 'renewables_energy_per_capita',
 'solar_share_elec',
 'solar_cons_change_pct',
 'solar_share_energy',
 'solar_cons_change_twh',
 'solar_consumption',
 'solar_elec_per_capita',
 'solar_energy_per_capita',
 'gdp',
 'wind_share_elec',
 'wind_cons_change_pct',
 'wind_share_energy',
 'wind_cons_change_twh',
 'wind_consumption',
 'wind_elec_per_capita',
 'wind_energy_per_capita']

## 2. Import sqlite3 library and create a connection to the database

If there is no database, it will create a db file automatically. Like here, it creates 'energy_data.db'. SQL only works for database, which is different from dataframe in pandas.

[Check out this video](https://www.youtube.com/watch?v=sDY_fKe_JVw&t=85s)

In [3]:
import sqlite3
con = sqlite3.connect('energy_data.db')

## 3. Transfer data from df to db

If the data is already in db file, just connect it to sqlite3 without conversion.

In [4]:
df.to_sql('energy_data', con)

## 4. Load the sql module to iPython

*'%' indicates Jupyter line magic*

Then, point the Jupyter sql library to the database we want to use.

In [5]:
%load_ext sql
%sql sqlite:////Users/jingai/workspace/energy-data/energy_data.db

## 5. Run sql 

* First creating a cell magic using %%

In [14]:
%%sql 
Select country, SUM(coal_prod_change_pct) AS total
From 'energy_data' 
WHERE renewables_energy_per_capita != 'None'
GROUP BY year, country
ORDER BY total DESC
limit 10

 * sqlite:////Users/jingai/workspace/energy-data/energy_data.db
Done.

[('Thailand', 1794.834),
 ('Greece', 556.871),
 ('Venezuela', 345.833),
 ('Venezuela', 300.0),
 ('Australia', 255.111),
 ('Canada', 193.288),
 ('South Africa', 187.552),
 ('Africa', 167.995),
 ('Thailand', 136.509),
 ('Indonesia', 126.154)]

In [16]:
%%sql
SELECT country, year, biofuel_elec_per_capita
FROM 'energy_data' 
WHERE biofuel_elec_per_capita != 'None'
GROUP BY country, year
ORDER BY biofuel_elec_per_capita DESC
LIMIT 25

 * sqlite:////Users/jingai/workspace/energy-data/energy_data.db
Done.

[('Finland', 2018, 2337.538),
 ('Finland', 2019, 2302.644),
 ('Finland', 2013, 2208.296),
 ('Finland', 2014, 2153.205),
 ('Finland', 2017, 2152.338),
 ('Finland', 2016, 2095.803),
 ('Finland', 2011, 2086.24),
 ('Finland', 2015, 2083.444),
 ('Finland', 2012, 2068.326),
 ('Finland', 2006, 2049.259),
 ('Finland', 2010, 2045.139),
 ('Finland', 2004, 1991.522),
 ('Finland', 2008, 1956.127),
 ('Finland', 2020, 1938.057),
 ('Finland', 2007, 1878.988),
 ('Finland', 2005, 1808.75),
 ('Finland', 2003, 1794.392),
 ('Finland', 2002, 1724.307),
 ('Finland', 2000, 1665.194),
 ('Finland', 2009, 1634.965),
 ('Finland', 2001, 1590.741),
 ('Sweden', 2010, 1298.321),
 ('Sweden', 2019, 1282.677),
 ('Sweden', 2012, 1277.795),
 ('Sweden', 2009, 1230.582)]